html, body {
    overflow: hidden;
    background-color: black;
    color: rgb(224, 224, 224);
    font-size: 12px;

    margin: 0;
    padding: 0;
    border: 0;

    width: 100%;
    height: 100%;
}

body, input[type=text], button {
    font-family: 'Oxygen Mono', monospace;
}

video {
    width: 100%;
    height: 100%;
}

#streamButton {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #c8c8c8;
    border-radius: 6px;
    color: white;
    font-size: 20px;
}

.touchContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.stats {
    position: fixed;
    top: 5px;
    right: 5px;
    text-shadow: black 0px 0px 2px;
    background-color: rgba(0, 0, 0, 0.561);
    padding: 2px;
}

.uiContainer {
    position: fixed;
    opacity: 0.8;

    left: 0;
    bottom: 0;

    display: flex;
    flex-direction: row;
}

.byteContainer {
    position: fixed;
    right: 5px;
    bottom: 5px;

    display: flex;
    flex-direction: column;
    justify-content: end;
}

.byteContainer > div {
    display: flex;
    flex-direction: row;
}
.byteContainer > div div
{
    width: 20px;
    height: 20px;
    margin: 0;
}

.byteContainer > div div.active {
    background-color: rgba(255, 165, 0, 1);
}

#target-cross:active {
    transform: scale(0.8);
}

#target-cross {
    position: fixed;
    opacity: 0.7;
    cursor: crosshair;

    width: 100px;
    height: 100px;

    top: calc(55% - 50px);
    left: calc(50% - 50px);
}